---
name: test

on:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - macos-13
          - windows-2022

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: '1.25'

      - name: Lint
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        run: make lint

      - name: Test
        run: make test

      - name: Publish coverage to coveralls.io
        uses: shogo82148/actions-goveralls@25f5320d970fb565100cf1993ada29be1bb196a1 # v1
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        with:
          path-to-profile: coverage.out

      - name: Build
        run: make build
